    body {
        font-family: Arial, sans-serif;
        margin: 0;
        height: 100vh;
        background-color: #f9f9f9;
    }

    .form-agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    form div {
        margin-bottom: 15px;
    }

    form label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    form input[type="text"] {
        width: 300px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .error {
        color: red;
        font-size: 0.9em;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }

    a {
        display: inline-block;
        margin-top: 30px;
        margin-left: 700px;
        text-decoration: none;
        color: #007BFF;
    }

    a:hover {
        text-decoration: underline;
    }
